/***********************************************************************
 *  NavBar
 **********************************************************************/
.navbar {
  background: rgba(19, 19, 19, 0.75);
  width: 100%;
  position: relative;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
}
.navbar-links {
  font-family: Crushed, serif;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

a {
  text-decoration: none;
  color: rgb(195 169 141);
  padding: 0px 8px;
  transition: 0.5s;
  text-align: center;
  border-top: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
}
.img-link {
  display: none;
  display: flex;
  justify-content: center;
  transition: 1s;
}

.text-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.img-link:hover {
  /* filter: brightness(125%); */
}
.navlink:hover {
  text-shadow: 2px 2px 10px #cfa351;
}
.logo-image {
  display: none;
  width: 80px;
}
.left-links a:hover,
.right-links a:hover {
  color: #e09200;
  border-top: 2px solid rgb(94, 54, 22);
  border-bottom: 2px solid rgb(94, 54, 22);
  cursor: pointer;
}

.left-links {
  position: absolute;
  left: calc(50% - 290px);
  top: 12px;
  padding-right: 10px;
}

.right-links {
  position: absolute;
  right: calc(50% - 285px);
  top: 12px;
}

.dropDown-btn {
  display: none;
  height: 30px;
  width: 70px;
  transition: 0.5s;
  filter: brightness(75%);
}

.dropDown-btn:hover {
  cursor: pointer;
  text-shadow: 2px 2px 10px #cfa351;
  filter: brightness(125%);
}
